header {
    width: 1000px;
    margin: 0 auto;
}
div {
    background-color:grey;
}
.left {
    min-width: 740px;
    min-height: 150px;
    float:left;
    margin-right: 10px;
}

.right{
    min-width: 250px;
    min-height: 150px;
    float:right;
}
.clearfix{
    clear:both;
}